<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    {% include 'home/navigasi.html' %}
    <img id="gambar5" src="{% static 'gambar/foto farhan.jpg' %}" alt=gambarsaya5>
    <div id="kotakkhusus" class="row">
        <div class="col">
            <h6 id="pembuka">Saya merupakan seorang mahasiswa di Universitas Indonesia. Saya mahasiswa jurusan sistem informasi. Saya adalah seorang <i>web programmer</i> yang sangat handal. Saya pernah bergabung/mengikuti organisasi, jadi saya rasa saya dapat bekerja sama dengan baik</h6>
        </div>
        <div class="w-100">
            <div class="accordion">
                <div class="contentBx">
                    <div class="label">Aktivitas</div>
                    <div class="content">
                        <p>Saya merupakan seorang mahasiswa di Universitas Indonesia. Saya mahasiswa jurusan sistem informasi. Saya adalah seorang web programmer yang sangat handal. Saya pernah bergabung/mengikuti organisasi, jadi saya rasa saya dapat bekerja sama dengan baik</p>
                    </div>
                </div>
                <div class="contentBx">
                    <div class="label">Pengalaman</div>
                    <div class="content">
                        <p>Saya pernah menjabat sebagai ketua BEM UI</p>
                    </div>
                </div>
                <div class="contentBx">
                    <div class="label">Prestasi</div>
                    <div class="content">
                        <p>Mapres FASILKOM UI</p>
                    </div>
                </div>
            </div>
            <script>
                const accordion = document.getElementsByClassName('contentBx');

                for (i = 0; i < accordion.length; i++) {
                    accordion[i].addEventListener('click', function() {
                        this.classList.toggle('active')
                    })
                }
            </script>
        </div>
        <div class="col">col</div>
        <div class="col">col</div>
      </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</html>