<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Hello</title>
</head>
<body>
    {% include 'home/navigasi.html' %}
    <div id="kotak" class="border border-warning">
        <img id="gambar" src="{% static 'gambar/72645.jpg' %}" alt=gambarsaya>
    </div>
    <div id="info" class="border border-warning">
        <h1>Personal Info</h1>
        <h2>
            Name    : Muhammad Farhan Thariq<br>
            NPM   : 1906399215<br>
            Angkatan : 2019 (Maung)<br>
            Phone   : 08117411417<br>
            Email   : Muhammad.farhan917@ui.ac.id
        </h2>
        <img id="twitter" src="{% static 'gambar/logo.png' %}" alt="twittersaya" <h6>@MFT_Farhan</h6>
        <img id="line" src="{% static 'gambar/246x0w.png' %}" alt="linesaya" <h6>@qirhat</h6>
        <img id="instagram" src="{% static 'gambar/instagram.png' %}" alt="igsaya" <h6>muhammad_farhan_t</h6>

    </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</html>