<div class="p-3 mb-2 bg-dark text-white">
    <a id="tombol1" href="/" class="btn btn-primary">
        Home
    </a>
    <a id="tombol2" href="/Hobby/" class="btn btn-primary">
        Hobby
    </a>
    <a id="tombol3" href="/Experience/" class="btn btn-primary">
        About Me
    </a>
    <a id="tombol4" href="/story8/" class="btn btn-primary">
        Book Search
    </a>
</div>