<!DOCTYPE html>
<html lang="en">

<!-- {% load static %} -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'home/style.css' %}"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Story8</title>
</head>
<body>
    {% include 'home/navigasi.html' %}

    <input id="keyword" placeholder="Masukkan kata kunci">
    <ol id="daftar_isi"></ol>

    <script type="text/javascript">
        $("#keyword").keyup( function() {
            var ketikan = $("#keyword").val();
            console.log(ketikan);

            $.ajax({
                url: 'https://www.googleapis.com/books/v1/volumes?q=' + ketikan,
                success: function(data) {
                    var array_items = data.items;
                    console.log(array_items);
                    $("#daftar_isi").empty();
                    for (i=0; i < array_items.length; i++) {
                        var judul = array_items[i].volumeInfo.title;
                        var gambar = array_items[i].volumeInfo.imageLinks.smallThumbnail;
                        $("#daftar_isi").append("<li>" + judul + "<br><img src=" + gambar + "></li>");
                        // console.log(judul);
                    }
                }
            });
        });

    </script>
    
</body>
</html>