h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: chocolate;
    margin-top: 100px;
}
body {
    background-color: blue;
}

#gambar {
    height : 400px;
    width : 300px;
    margin : 50px;
}

#kotak {
    display: inline-block;
    height : 400px;
    width : 300px;
    margin: 100px 50px 50px 50px;
    padding: 5px;
    background-color: pink;
}

#info {
    display: inline-block;
    height : 500px;
    width : 700px;
    margin : 100px 50px 50px 50px;
    padding: 5px;
    background-color:plum;
}

#twitter {
    height: 50px;
    width: 50px;
}

#line {
    height: 50px;
    width: 50px;
}

#instagram {
    height: 50px;
    width: 50px;
}

h1 {
    background-color: pink;
    color: white;
}

h2 {
    color : white;
}

h6 {
    color: white;
}

#judul {
    text-align: center;
    background-color:plum;
    color: rgb(255, 230, 0);
}
#kotakgambar2 {
    display: inline-block;
    height: 300px;
    width: 400px;
    margin-top: 50px;
    margin-left: 25px;
    background-color: rgb(253, 87, 115);
}

#gambar2 {
    height: 300px;
    width: 400px;
    margin-top: 25px;
    margin-left: 25px;
}

#kotakgambar3 {
    display: inline-block;
    height : 300px;
    width : 400px;
    margin-top: 50px;
    margin-left: 100px;
    background-color: rgb(253, 87, 115);
}

#gambar3 {
    height: 300px;
    width: 400px;
    margin-top: 25px;
    margin-left: 25px;
}

#kotakgambar4 {
    display: inline-block;
    height : 300px;
    width : 400px;
    margin-top: 50px;
    margin-left: 100px;
    background-color: rgb(253, 87, 115);
}

#gambar4 {
    height: 300px;
    width: 400px;
    margin-top: 25px;
    margin-left: 25px;
}

#gambar5 {
    height: 400px;
    width: 300px;
    margin-top: 50px;
    margin-left: 600px;
}

#tombol1 {
    background-color: palevioletred;
}

#tombol2 {
    margin-left: 20px;
    background-color: palevioletred;
}

#tombol3 {
    margin-left: 20px;
    background-color: palevioletred;
}

#tombol4 {
    margin-left: 20px;
    background-color: palevioletred;
}

#kotakkhusus {
    height: 600px;
    width: 800px;
    margin-top: 50px;
    margin-left: 500px;
}

#pembuka {
    color: black;
    text-align: justify;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    max-width: 800px;
}

.accordion .contentBx {
    position: relative;
    margin: 10px 20px;
}

.accordion .contentBx .label {
    position: relative;
    padding: 10px;
    background: #2694af
}

.accordion .contentBx .label::before {
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}

.accordion .contentBx.active .label::before {
    content: '-';
}

.accordion .contentBx .content {
    position: relative;
    background: #ffff;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}

.accordion .contentBx.active .content {
    height: 150px;
    padding: 10px;
}

